@import url("token.css");

/* Index Page CSS */
.bodyIndex {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/backdrop.png")
}

.bodyIndex.dark-mode {
  background-image: url("../assets/backdrop_DM4.png")
}

.darkmodeButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.indexInformation {
  color: var(--index-menu-color);
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--index-bg-color);
}

.titleIndex {
  font-size: 5vw;
}

a {
  color: var(--index-menu-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.drinkOptions,
.foodOptions,
.goodsOptions {
  color: var(--color-text-menu);
}

/* Drink Menu CSS */

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(2.5vw + 1.5vh);
}

h2 {
  font-size: calc(1.5vw + 1vh);
}

svg.icon {
  display: inline;
  height: var(--icon-size);
  width: var(--icon-size);
  vertical-align: calc(0.5em - 0.65 * var(--icon-size));
}

body {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-family: var(--font-pixel);
}

main {
  padding: 5%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 3/2;
  background-image: url('../assets/drinkMenuBg.png');
}

.drinkMain {
  background-image: url('../assets/drinkMenuBg.png');
}

.drinkMenu {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.drink-title {
  margin-bottom: 3%;
}

ul {
  list-style-type: none;
  font-weight: bold;
  font-size: calc(1vw + 1vh);
}

p {
  font-size: calc(0.75vw + 0.75vh);
  margin-bottom: 5%;
}

div {
  justify-content: space-between;
}


