@import url("token.css");

/* Index Page CSS */
.titleIndex {
  color: blue;
}

/* Drink Menu CSS */
.drinkOptions,
.foodOptions,
.goodsOptions {
  color: var(--color-text-menu);
  font-family: var(--font-pixel);
}

h1{
  font-family: var(--font-pixel);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(3vw + 2vh);  
}

h2 {
  font-family: var(--font-pixel);
  font-size: calc(2vw + 1vh);  
  margin-bottom: 2%;
}

svg.icon {
  display: inline;
  height: var(--icon-size);
  width: var(--icon-size);
  vertical-align: calc(0.5em - 0.65 * var(--icon-size));
}

body {
  background-color: #451814;
  height: 100vh;
  display: flex;
  justify-content: center; 
  overflow: hidden;
}

main {
  padding: 5%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 3/2;
}

/* .center-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
} */

.drinkMenu {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;

}

.drink-title {
  margin-bottom: 3%;
}

ul {  
  list-style-type: none;  
  font-weight: bold;  
  font-size: calc(1.5vw + 1vh);  
}
