:root {
    --color-text-menu: rgb(92, 76, 61);
    --font-pixel: "Pixelify Sans", Verdana, sans-serif;   
    --icon-size: 1.5em;
    --background-color: #451814;
    --index-menu-color: white;
    --index-bg-color: rgba(0,0,0,.7);
} 
   